.topnav {
    background-color: #F6F6F7;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 50px;
}

.topnav a {
    color: #888888;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: #222222;
}

.shopping-cart{
    color: #888888;
    padding: 0 15px;
    text-decoration: none;
}

.shopping-cart p:hover{
    color: #222222;
}

.shopping-cart.active{
    display:block;
    color: #222222;
    border: 1px solid #222222;
    border-bottom-style: none;
    background-color: white;

}

.card{
    display: none;
    position: absolute;
    top: 58px;
    left: calc(100% - 368px);
    width: 270px;
    border: 1px solid #222222;
    background-color: white;  
    height: 30vh;
}

.card.active {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    width: 40%;
}

.img {
    width: auto;
    max-height: 80vh;
    margin-right: 70px;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
}


.title{
    font-size: 24px;
}

.price {
    font-weight: bold;
}

.description {
    color:#888888;
}

.size {
    font-weight: bold;
    font-size: 13px;
    color: #888888;
}
.cart{
    font-weight: bold;
    border: 2px solid #222222;
    background-color: white;
    transition: background-color 0.2s;
    width: 150px;
    padding: 7px;
}

.cart:hover{
    background-color: black;
    color: white;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.buttons{
    margin-bottom: 10px
}

.sizeButton {
    margin:0;
    background-color: transparent;
    color: #888888;
    padding: 10px 15px;
    margin-right: 5px;
}

.sizeButton.selected{
    border-color: #222222;
    color: #222222;
}

.sizeLabel{
    font-weight:bold;
    color: #222222
}

.listCard{
    list-style: none;
}

.cart-img{
    width: 80px;
    max-height: 40vh;
}

.cart-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

.cart-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

@media screen and (max-width: 700px){
    .presentation {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .img {
        width: auto;
        max-height: 90vh;
        margin: 50px 0 0 0;
    }
    .column {
        align-items: flex-start;
        width: 100%;
        margin: 0;
    }
    .topnav{
        gap: 0;
        padding: 0;
    }

    .card{
        left: calc(100% - 320px);
    }
}